.block {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.checkboxBlock {
    display:flex;
    align-items: center;
    gap:10px;
}

.checkboxBlock:has(input:hover), .checkboxBlock:has(input:focus) {
    color: var(--accent);
}

.checkbox {
    opacity: 0;
    position: absolute;
}