.radiocheck {
    display:flex;
    align-items: center;
    gap:10px;
    line-height: 1.4;
    margin-bottom: 20px;
    cursor: pointer;
}

.radiocheck:hover, .radiocheck:has(input:focus){
    color: var(--accent);
    font-weight: 600;
}

.radiocheck input {
    position:absolute;
    opacity: 0 !important;
    pointer-events: none; 
}

.radiocheck:has(input:checked) {
    font-weight: 600;
}
