.radiocheck {
    display:flex;
    align-items: center;
    gap:10px;
    line-height: 1.4;
}

.radiocheck:hover, .radiocheck:has(input:focus){
    color: var(--accent);
    font-weight: 600;
}

.radiocheck input {
    position:absolute;
    opacity: 0;
    pointer-events: none; 
}

.svg {
    color: transparent;
    cursor: pointer;
}
.radiocheck:has(input:checked) .svg{
    color: var(--accent);
}
