.btn {
  display: inline-block;
  width: fit-content;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: var(--text-h);
  text-decoration: none;
  text-align: center;
  color: var(--accent);
  background: var(--light);
  border-radius: 12px;
  border: 0.7px solid var(--accent);
  outline: none;
  cursor: pointer;
  -webkit-transition: -webkit-background 0.3s -webkit-color 0.3s;
  -o-transition: background 0.3s color 0.3s;
  transition: background 0.3s, color 0.3s;
}

.btn:hover, .btn:focus {
  color: var(--light);
  background: var(--accent);
}

.btn[disabled] {
  border-color: var(--basic);
  color: var(--basic);
  pointer-events: none;
}

.full {
  width: 100%;
}

.arrow, .close {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0;
}

.arrow {
  width: 60px;
  height: 60px;
}

.close {
  width: 50px;
  height: 50px;
}    