.input {
  display: block;
  line-height: 1.4;
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--basic);
  width: 100%;
  outline: none;
}

.error {
  border-color: var(--red);
}

.error::placeholder {
  color: var(--red);
}