.empty {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    line-height: 1.17;
    width: min-content;
}

.toCatalog {
    width: 345px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

.items {
    flex: 1;
}

.list {
    margin: 30px 0;
}

.row {
    display: flex;
    justify-content: space-between;
}