.content {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.map {
    position: relative;
    min-width: 60%;
    aspect-ratio: 3 / 2;
}

.background, .map iframe {
    height: 100%;
    width: 100%;
    mask-image: url('/mapfigure.svg');
    mask-size: 100% 100%;
    mask-repeat: no-repeat; 
}

.background {
    background-color: #020238;
}

.card {
    position: absolute;
    top:70%;
    left: 58%;
    right: 0;
    bottom: 0;
    margin-left:2%;
    margin-top: 1.5%;
    background: white;
    border-radius: 20px;
}

.adress {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10%;
    justify-content: space-between;
    box-sizing: border-box;
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.feedback, .info, .form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.info {
    gap: 30px;
}

.form {
    gap: 20px;
}

.text {
    flex: 1;
}