
@font-face {
  font-family: 'Moniqa';
  src: url('Moniqa-Display.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poiret One';
  src: url('PoiretOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --accent: #05048C;
  --light: #F6F6F6;
  --basic: #1E1E1E;
  --red: #EB5757;
  --text-h: 117%;
  --number-h: 140%;
}

* {
  font-family: 'Poiret One', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  color: var(--basic);
  background: var(--light);
  line-height: 1.17;
}

main {
  position: relative;
  padding:100px;
  padding-top:206px;
}

img {
  width: 100%;
}

section {
  margin: 100px 0;
}

.nav {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 50px 0;
}

.prev {
  color: rgba(0, 0, 0, 0.3) !important;
}

.full {
  width: 100% !important;
}